body {
    font-family: 'VT323', monospace;
    background: rgb(137,25,235);
background: radial-gradient(circle, rgba(137,25,235,1) 0%, rgba(47,136,198,1) 100%);
}    

header {
    margin: 0, auto;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
}

.number {
    font-size: 50px;
    color: blue;
    text-align: center;
}

#score {
    width: 125px;
    height: 125px;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 36px;
    padding: 12px;
}

img {
    width: 250px;
    height: 250px;   
    margin: 10px;
    padding: 10px;
}

#rupee:hover {
    box-shadow: 0 0 11px rgba(150, 10, 10, 0.795); 
}

#emerald:hover {
    box-shadow: 0 0 11px rgba(35, 216, 80, 0.911); 
}

#saphir:hover {
    box-shadow: 0 0 11px rgba(10, 53, 196, 0.904); 
}

#topaz:hover {
    box-shadow: 0 0 11px rgba(211, 224, 19, 0.849); 
}

