body {
    font-family: 'VT323', monospace;
    background: radial-gradient(circle, rgb(2, 0, 3) 0%, rgb(56, 74, 87) 100%);
    

}    

header {
    margin: 0, auto;
    font-size: 25px;
    color: papayawhip;
    text-align: center;
    padding-top: 25px;
}

.number {
    font-size: 50px;
    color: rgba(222, 11, 250, 0.397);
    text-align: center;
}

#score {
    width: 125px;
    height: 125px;
    font-size: 25px;
    color: papayawhip;
    margin-left: 36px;
    padding: 12px;
}

img {
    width: 250px;
    height: 250px;   
    margin: 10px;
    padding: 10px;
}

#rupee:hover {
    box-shadow: 0 0 11px rgba(228, 7, 7, 0.795); 
}

#emerald:hover {
    box-shadow: 0 0 11px rgba(35, 216, 80, 0.911); 
}

#saphir:hover {
    box-shadow: 0 0 11px rgba(10, 53, 196, 0.904); 
}

#topaz:hover {
    box-shadow: 0 0 11px rgba(211, 224, 19, 0.849); 
}

